.banner{:style => "background-image: url('https://res.cloudinary.com/qriyo/image/upload/v1498814320/10227e-food-on-the-table-top-hd-wallpaper_tlnepw.jpg')"}

.container
  - @recipes.each do |recipe|
    .recipe-wrapper
      %h3= link_to recipe.title, recipe_path(recipe)
      %p= recipe.description

